.App {
  text-align: center;
  background-image: url(./img/fondo.jpg);
  background-repeat: repeat-y;
  background-size: 100vw 100vw;
  overflow-x: hidden;
}
.change{
  cursor: pointer;
}
.change:hover{
  color: gray;
}
@media screen and (max-width:767px){
  .container-table{
    overflow-x: auto;
  }
  .table-1{
    width: 220vw!important;
  }
}